body
{
    display: flex;
	flex-direction: column;
}
header
{
	background-color: red;
	justify-content: flex-end;
}
section
{
	background-color: blue;
	margin: auto;
}
footer
{
	background-color: green;
	justify-content: flex-end;
}